header {

    @include flex-col;
    align-items: stretch;
    background: $dark;

    #banner {
        @include flex-row;
        align-items: center;
        text-align: center;
        height: 70px;
        color: $cream;
        padding: 10px $padding;
        // position: fixed;
        @include shadow;
        z-index: 1;

        #title {
            @include flex-row;
            justify-content: center;
            flex: 3;
        }

        #buttons {
            // position: fixed;
            // top: 28px;
            // right: 20px;
    
            #signIn {
                border-color: $orange;
                &:hover {
                    background: $orange;
                }
            }
    
            #signUp {
                border-color: $green;
                &:hover {
                    background: $green;
                }
            }
        }
    }

    #mainForm {
        @include flex-row;
        align-items: center;
        box-sizing: border-box;
        padding: 50px;
        @include gradient-bg;
        color: $cream;
        // @include border(top, $green);
        @include border(bottom, $orange);

        .wrapper {
            @include flex-row;
            align-items: center;
            // margin-left: 100px;

            label {
                margin-left: $padding;
            }
        }

        button {
            // margin-left: 100px;
            &:hover {
                background: $orange;
                border-color: $orange;
            }
        }
    }
}