#myProfileModal {

    #img {
        width: 100px;
        height: 100px;
        background: $green;
        float: left;
        margin: 0 $padding $padding 0;
    }

    label {
        color: $dark;
    }

    .value {
        color: $cream;
        margin-left: $fieldOffset;
    }

    #details {
        @include flex-col;
        align-items: left;
    }

    #description {
        display: inline-block;
    }

    form {
        @include flex-col;
    }
}