#myProfile {
    position: absolute;
    z-index: 1;
    left: 50vw - (0.5 * $modalWidth);
    box-sizing: border-box;
    background: $black;
    @include gradient-bg;
    @include shadow;
    color: $orange;
    width: 60vw;
    height: 60vh;
    padding: $padding;
    
    transition-property: top;
    transition-duration: 0.3s;

    &[state=open] {
        top: 20vh;
    }

    &[state=closed] {
        top: - $modalHeight - (100vh - $modalHeight);
    }

    .closer {
        position: absolute;
        top: $offset;
        right: $offset;
        color: $cream;
    }

    #img {
        width: 100px;
        height: 100px;
        background: $green;
        float: left;
        margin: 0 $padding $padding 0;
    }

    label {
        color: $dark;
    }

    .value {
        color: $cream;
        margin-left: $fieldOffset;
    }

    #details {
        @include flex-col;
        align-items: left;
    }

    #description {
        display: inline-block;
    }

    form {
        @include flex-col;
    }
}