#people {
    @include flex-row;
    justify-content: left;
    flex-flow: row wrap;
    background: $black;
    color: $cream;
    width: 50%;
    padding: 0 $padding $padding $padding;

    .person {
        @include flex-col;
        // align-items: flex-start;
        flex-basis: 20%;
        margin-top: $padding;
        text-align: center;
        .avatar {
            width: 60px;
            height: 60px;
            border-radius: $br;
            border: solid 3px $cream;
            margin-bottom: 5px;
        }

        &[selected=selected] {
            color: $orange;
            border-bottom: solid 3px $orange;

            .avatar {
                border: solid 3px $orange;
            }
        }
    }
}