<header>
    
    <div id="banner">
        <h1>Chemistry</h1>
        <h2>Catchphrase</h2>
    </div>

    <div id="buttons">
        <button id="signIn">Sign in</button>
        <button id="signUp">Sign up</button>
    </div>

    <div id="forms">
        <form action="/signUp" method="POST">
            <h2>Look for musicians</h2>
            <div></div>
            <input type="text" placeholder="firstName" name="firstName">
            <input type="text" placeholder="birthDate" name="birthDate">
            <button type="submit">Submit</button>

            <label for="county">County</label>
            <select name="county" id="county">
                {{#each counties}}
                    <option value="{{@index}}">{{this}}</option>
                {{/each}}
            </select>
            <div class="instruments">
                <input type="checkbox" id="singer" name="instruments" value="singer">
                <input type="checkbox" id="guitar" name="instruments" value="guitar">
                <input type="checkbox" id="bassGuitar" name="instruments" value="bassGuitar">
                <input type="checkbox" id="drums" name="instruments" value="drums">
                <input type="checkbox" id="piano" name="instruments" value="piano">
                <input type="checkbox" id="synthetiser" name="instruments" value="synthetiser">
            </div>
        </form>
        <form action="">
            <h2>Look for ads</h2>
        </form>
    </div>
</header>