<header class="flex-col">
    
    <div id="banner">
        <h1>Chemistry</h1>
        <h2>Catchphrase</h2>
    </div>

    <div id="buttons">
        <button id="signIn">Sign in</button>
        <button id="signUp">Sign up</button>
    </div>
    
    <div id="forms">
        <form action="">
            <h2>Look for musicians</h2>
        </form>
        <form action="">
            <h2>Look for ads</h2>
        </form>
    </div>
</header>