<section id="message" class="modal" state="closed">

    <div class="closer" onclick="toggleElement('message','close')">X</div>

    {{#if message}}
        <h2>LOL</h2>
    {{/if}}

    <p>
        I should put here the content of the message.
    </p>

</section>