
{{#if message}}
    {{!-- <section id="message" class="modal" state="closed"> --}}
    <section id="message" class="modal" >

        <div class="closer" onclick="toggleElement('message','close')">X</div>

        
            <h2>{{message}}</h2>
        

        <p>
            I should put here the content of the message.
        </p>

    </section>
{{/if}}