<section id="profile">
    {{!-- <img src="" alt=""> --}}
    <div id="img">this is a picture</div>

    <div id="details">
        <span>Nom</span>
        <span>Age</span>
        <span>Ville</span>
    </div>
    <span>Instruments</span>
    <p>Description</p>

    <form action="">
        <h2>Contacter ce profil</h2>
    </form>
</section>