<section id="profile">
    {{!-- <img src="" alt=""> --}}
    <div id="img">this is a picture</div>

    <div id="details">
        <div>
            <label>Name</label><span class="value">{{userName}}</span>
        </div>
        <div>
            <label>Age</label><span class="value">age</span>
        </div>
        <div>
            <label>City</label><span class="value">ville</span>
        </div>
    </div>
    <div>
        <label>Instruments</label><span class="value">list d'instrus</span>
    </div>
    <div>
        <label>Description</label><p id="description" class="value">blabla</p>
    </div>

    <form action="">
        <h2>Contacter ce profil</h2>
        <textarea name="" id="contactProfile" cols="30" rows="10"></textarea>
    </form>
</section>