<section id="signUpModal" class="modal" state="closed">

    <div class="closer" onclick="toggleElement('signUpModal','close')">X</div>

    <form action="/signUp" method="POST">

        <div class="formLeft">
            <div class="wrapper">
                <label for="signUpUserName">Name</label>
                <input id="signUpUserName" type="text" placeholder="userName" name="userName" value="User Placeholder" required>
            </div>

            <div class="wrapper">
                <label for="signUpEmail">Email</label>
                <input id="signUpEmail" type="text" placeholder="email" name="email" value="benjent@hotmail.fr" required>
            </div>

            <div class="wrapper">
                <label for="signUpPassword">Password</label>
                <input id="signUpPassword" type="password" name="password" required onkeyup="checkPasswordSimilarity()">
            </div>

            <div class="wrapper">
                <label for="signUpConfirmPassword">Password</label>
                <input id="signUpConfirmPassword" type="password" name="passwordConfirmation" required onkeyup="checkPasswordSimilarity()">
            </div>
        </div>

        <div class="separator"></div>

        <div class="formRight">
            <h2 id="signUpMessage">Passwords don't match.</h2>
            <button type="submit">Submit</button>
        </div>


    </form>

</section>