<section id="signInModal" class="modal" state="closed">

    <div class="closer" onclick="toggleElement('signInModal','close')">X</div>

    <form action="/signIn" method="POST">

        <div class="formLeft">
            <div class="wrapper">
                <label for="signInUserName">Name</label>
                <input id="signInUserName" type="text" placeholder="userName" name="userName" value="User Placeholder" required>
            </div>

            <div class="wrapper">
                <label for="signInPassword">Password</label>
                <input id="signInPassword" type="password" name="password" required>
            </div>

        </div>

        <div class="separator"></div>

        <div class="formRight">
            <button type="submit">Submit</button>
        </div>

    </form>

</section>