@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin border ($side, $color) {
    @if $side == top {
        border-top: solid 4px $color;
    } @else if $side == right {
        border-right: solid 4px $color;
    } @else if $side == bottom {
        border-bottom: solid 4px $color;
    } @else {
        border-left: solid 4px $color;
    }
}

.hidden {
    display: none !important;
}

body {
    font-family: 'Timmana', sans-serif;
}