body {
    margin: 0;
    border: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

input, input[type=radio], input[type=checkbox] {
    border: none;
}

select {
    border: none;
}

textarea {
    border: none;
}