/****************************** Helpers ******************************/
@import 'helpers/reset';
@import 'helpers/colors';
@import 'helpers/values';
@import 'helpers/font';
@import 'helpers/helpers';

/****************************** Components ******************************/
@import 'components/button';
@import 'components/input';
@import 'components/select';
@import 'components/textarea';
@import 'components/modal';

/****************************** Sections ******************************/
@import 'sections/header';
@import 'sections/footer';
@import 'sections/people';
@import 'sections/profile';
@import 'sections/myProfileModal';
@import 'sections/signUpModal';
