header {

    background: $dark;

    #banner {
        @include flex-col;
        color: $cream;
    }

    #forms {
        @include flex-row;
        padding: $padding;
        
        background: linear-gradient(0.35turn, $orange, $green);
        color: $cream;

        form {
            width: 50%;
        }
    }
}