header {

    background: $dark;

    #banner {
        @include flex-col;
        color: $cream;
    }

    #buttons {
        position: fixed;
        top: $padding;
        right: $padding;
        
        button {
            width: 150px;
            height: 40px;
            color: $cream;
            border: solid 3px;
            border-radius: $br;
        }

        #signIn {
            border-color: $orange;
            &:hover {
                background: $orange;
            }
        }

        #signUp {
            border-color: $green;
            &:hover {
                background: $green;
            }
        }
    }

    #forms {
        @include flex-row;
        padding: $padding;
        
        background: linear-gradient(0.35turn, $orange, $green);
        color: $cream;

        form {
            width: 50%;
        }
    }
}