/****************************** Helpers ******************************/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Timmana");
body {
  margin: 0;
  border: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

input, input[type=radio], input[type=checkbox] {
  border: none;
}

select {
  border: none;
}

textarea {
  border: none;
}

.hidden {
  display: none !important;
}

body {
  font-family: 'Timmana', sans-serif;
}

/****************************** Components ******************************/
button {
  width: 150px;
  height: 40px;
  color: #F7F3ED;
  border: solid 3px;
  border-radius: 20px;
}

input {
  border-radius: 20px;
  background: #272727;
  color: #F7F3ED;
  height: 30px;
  padding: 5px 10px;
}

input::placeholder {
  color: #787878;
}

.radio {
  display: block;
  height: 8px;
  width: 8px;
  background-color: #272727;
  border-radius: 20px;
  border: solid 10px #272727;
  margin-left: 10px;
}

.radio:hover {
  background: #F15A24;
}

select {
  background: #272727;
  color: #9A9A9A;
  height: 40px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #F15A24 50%), linear-gradient(135deg, #F15A24 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

textarea {
  background: #272727;
  border-bottom: solid 3px #F15A24;
  resize: vertical;
  width: 70%;
  margin: 0 auto;
}

/****************************** Sections ******************************/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #272727;
}

header #banner {
  color: #F7F3ED;
}

header #buttons {
  position: fixed;
  top: 28px;
  right: 20px;
}

header #buttons #signIn {
  border-color: #F15A24;
}

header #buttons #signIn:hover {
  background: #F15A24;
}

header #buttons #signUp {
  border-color: #A1D861;
}

header #buttons #signUp:hover {
  background: #A1D861;
}

header form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding: 50px;
  background: linear-gradient(0.35turn, #F15A24, #A1D861);
  color: #F7F3ED;
}

header form .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

header form .wrapper label {
  margin-left: 50px;
}

header form button:hover {
  background: #F15A24;
  border-color: #F15A24;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  background: #272727;
}

#people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: left;
  flex-flow: row wrap;
  background: #1d1d1d;
  color: #F7F3ED;
  width: 50%;
  padding: 0 50px 50px 50px;
}

#people .person {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 20%;
  margin-top: 50px;
  text-align: center;
}

#people .person .avatar {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: solid 3px #F7F3ED;
  margin-bottom: 5px;
}

#people .person[selected=selected] {
  color: #F15A24;
  border-bottom: solid 3px #F15A24;
}

#people .person[selected=selected] .avatar {
  border: solid 3px #F15A24;
}

#profile {
  background: #1d1d1d;
  color: #F15A24;
  width: 50%;
  padding: 50px;
}

#profile #img {
  width: 100px;
  height: 100px;
  background: #A1D861;
  float: left;
  margin: 0 50px 50px 0;
}

#profile #details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: left;
}

#profile form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/****************************** Pages ******************************/
#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
